
body{
	margin: 0;
	background-color: #002330;
}
.photo{
	float:left;
	width:50%;
	height:820px;
	background-image: url("hookah.jpg");
	background-position: top cente
}
.content{
	background-image: url("gun.png"), url("gun2.png");
	background-size: 160px, 160px;
	background-repeat: no-repeat, no-repeat;
	background-position: 35px 180px, 480px 180px;
	border-left: 2px solid #dbdbdb;
	float:right;
	width: 49.8%;
	height:auto;
	background-color: #002330;
	color: rgb(0,168,212);
}
.photo h1{
	font-size: 40px;
	/*color: #3b0070 /*#00c5e6*/;
	padding-top:30px;
	text-align:center;
}
.content h1{
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: underline;
	margin-top: 0;
	font-size: 40px;
	color: #00c5e6;
	padding-top:30px;
	text-align:center;
}
.mood p{
	margin-top:0;
}
.happymood{
	float: left;
	width:50%
}
.sadmood{
	float: right;
	width:50%
}
.sadmood img{
	padding-left:43px;
	width:230px;
	height:150px;
}
.happymood img{
	padding-left:63px;
	width:230px;
	height:150px;
}
ul{
	margin-left: 230px;
}
ol{
	padding-left: 290px;
}
li{
	color:#7724c1;
}
.secondul ul{
	margin-left: 25px;
}
h2{
	text-decoration: underline;
	text-align:center;
}
p{
	font-size:18px;
	color:#7724c1;
	text-align: center;
	font-style: oblique;
}
b{
	font-size:22px;
	color: #7724c1;
}
img{
	width: 20%;
	height:35%;
}